{% extends "base.html" %}

{% block title %}
{%- with a, b = (data.a, data.b) -%}
Changes from <a href="{{url_for('main', flavour=a.flavour, slot=a.name, build_id=a.build_id)}}"
    title="{{a.description|striptags}} ({{a.date|fuzzy_date|striptags}})">{{a.id}}</a>
to
<a href="{{url_for('main', flavour=b.flavour, slot=b.name, build_id=b.build_id)}}"
    title="{{b.description|striptags}} ({{b.date|fuzzy_date|striptags}})">{{b.id}}</a>
{%- endwith -%}
{% endblock %}

{% macro cell(type, a, b, project, platform, content) -%}
<span class="text-nowrap"><b>{{content}}</b></span>
<br>
<span class="text-nowrap"><a class="btn btn-info btn-xs"
        href="{{url_for(type, flavour=a.flavour, slot=a.name, build_id=a.build_id, project=project, platform=platform)}}">a</a>/<a
        class="btn btn-info btn-xs"
        href="{{url_for(type, flavour=b.flavour, slot=b.name, build_id=b.build_id, project=project, platform=platform)}}">b</a></span>
{%- endmacro %}

{% block main_content %}
{%- with a, b = (data.a, data.b) -%}
<div class="tab-content table-responsive">
    <table class="table table-striped table-white with-responsive-wrapper table-bordered slot-summary slot-comparison">
        <thead>
            <tr>
                <th colspan="100">
                    <h4>
                        <a class="btn btn-info" href="{{url_for('compare', a=b.id, b=a.id)}}" title="swap order">⇄</a>
                        <strong>a:</strong>&nbsp;<a
                            href="{{url_for('main', flavour=a.flavour, slot=a.name, build_id=a.build_id)}}"
                            title="{{a.description|striptags}}">{{a.id}}</a> ({{a.date|fuzzy_date}})
                        →
                        <strong>b:</strong>&nbsp;<a
                            href="{{url_for('main', flavour=b.flavour, slot=b.name, build_id=b.build_id)}}"
                            title="{{b.description|striptags}}">{{b.id}}</a> ({{b.date|fuzzy_date}})
                    </h4>
                    <div class="checkbox">
                        <label><input id="highlight-diffs" type="checkbox" checked> highlight differences</label>
                    </div>
                </th>
            </tr>
            <tr>
                <th rowspan="2">Project</th>
                <th rowspan="2">Version</th>
                {% for platform in data.platforms -%}
                <th colspan="2">
                    {{platform}}
                </th>
                {%- endfor %}
            </tr>
            <tr>
                {% for platform in data.platforms %}
                <th>build</th>
                <th>tests</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%- for project in data.projects -%}
            <tr>
                <th>{{project}}</th>
                {% if project in data.equals.version %}
                <td class="no-change">
                    <span class="text-nowrap">{{data.equals.version[project]}}</span>
                </td>
                {% elif project in data.diffs.version %}
                <td class="change">
                    <span class="text-nowrap">{{data.diffs.version[project].a}}</span>
                    <br>
                    <span class="text-nowrap">{{data.diffs.version[project].b}}</span>
                </td>
                {% else %}
                <td><strong>ERROR</strong></td>
                {% endif %}
                {% for platform in data.platforms -%}
                {% if platform in data.equals.build[project] %}
                {% with build = data.equals.build[project][platform] %}
                {% if build == "n/a" %}
                <td class="no-change">
                    <em>no&nbsp;build</em>
                </td>
                {% elif build == "not ready" %}
                <td class="no-change">
                    <em>building...</em>
                </td>
                {% else %}
                <td class="no-change {{ 'btn-danger' if build.errors or build.retcode else ('btn-warning' if build.warnings else 'btn-success') }}"
                    data-toggle="popover" data-trigger="hover" data-placement="auto top" data-html="true"
                    data-content="{{'{warnings} warnings<br>{errors} errors'.format(**build)}}">
                    {{cell("build", a, b, project, platform, "W: {warnings} E:{errors} ".format(**build))}}
                </td>
                {% endif %}
                {% endwith %}
                {% elif platform in data.diffs.build[project] %}
                {% with build = data.diffs.build[project][platform] %}
                {% with popover = "{} warnings ({} {})<br>{} errors ({} {})".format(
                build.warnings.last,
                (
                "no"
                if build.warnings.delta == 0
                else build.warnings.delta
                if build.warnings.delta > 0
                else -build.warnings.delta
                ),
                (
                "change"
                if build.warnings.delta == 0
                else "more"
                if build.warnings.delta > 0
                else "less"
                ),
                build.errors.last,
                (
                "no"
                if build.errors.delta == 0
                else build.errors.delta
                if build.errors.delta > 0
                else -build.errors.delta
                ),
                (
                "change"
                if build.errors.delta == 0
                else "more"
                if build.errors.delta > 0
                else "less"
                ),
                ) %}
                <td class="change {{ 'btn-danger' if build.errors.last else ('btn-warning' if build.warnings.last else 'btn-success') }}"
                    data-toggle="popover" data-trigger="hover" data-placement="auto top" data-html="true"
                    data-content="{{popover}}">
                    {{cell("build", a, b, project, platform,
                    ["W: {last}({delta:+d})".format(**build.warnings),
                    "E: {last}({delta:+d})".format(**build.errors)]|join(" "))}}
                </td>
                {% endwith %}
                {% endwith %}
                {% else %}
                <td><strong>ERROR</strong></td>
                {% endif %}
                {% if platform in data.equals.tests[project] %}
                {% with tests = data.equals.tests[project][platform] %}
                {% if tests == "n/a" %}
                <td class="no-change">
                    <em>no&nbsp;tests</em>
                </td>
                {% elif tests == "not ready" %}
                <td class="no-change">
                    <em>testing...</em>
                </td>
                {% else %}
                <td class="no-change {{ 'btn-danger' if tests.FAIL else ('btn-success' if tests.PASS else 'btn-warning') }}"
                    data-toggle="popover" data-trigger="hover" data-placement="auto top" data-html="true"
                    data-content="{{'{PASS} PASS<br>{FAIL} FAIL'.format(**tests)}}">
                    {{cell("tests", a, b, project, platform, "P: {PASS} F: {FAIL}".format(**tests))}}
                </td>
                {% endif %}
                {% endwith %}
                {% elif platform in data.diffs.tests[project] %}
                {% with tests = data.diffs.tests[project][platform]  %}
                {% with popover =
                '<table class="details table-striped">
                    <thead>
                        <tr>
                            <th>PASS</th>
                            <th>FAIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>unchanged: {}</td>
                            <td>unchanged: {}</td>
                        </tr>
                        <tr>
                            <td>fixed: {}</td>
                            <td>broken: {}</td>
                        </tr>
                        <tr>
                            <td>added: {}</td>
                            <td>added: {}</td>
                        </tr>
                        <tr>
                            <td>removed: {}</td>
                            <td>removed: {}</td>
                        </tr>
                    </tbody>
                </table>'.format(
                tests.unchanged.PASS | length,
                tests.unchanged.FAIL | length,
                tests.fixed | length,
                tests.broken | length,
                tests.added.PASS | length,
                tests.added.FAIL | length,
                tests.removed.PASS | length,
                tests.removed.FAIL | length,
                ) %}
                <td class="change {{ 'btn-danger' if tests.FAIL.last else ('btn-success' if tests.PASS.last else 'btn-warning') }}"
                    data-toggle="popover" data-trigger="hover" data-placement="auto top" data-html="true"
                    data-content="{{popover}}" onclick="open_detailed_test_diff('{{project}}', '{{platform}}')">
                    {{cell("tests", a, b, project, platform,
                    ["P: {last}({delta:+d})".format(**tests.PASS),
                    "F: {last}({delta:+d})".format(**tests.FAIL)]|join(" "))}}
                </td>
                {% endwith %}
                {% endwith %}
                {% else %}
                <td><strong>ERROR</strong></td>
                {% endif %}
                {%- endfor %}
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
</div>
{%- endwith -%}
<div class="modal" id="tests-diff-details" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped slot-summary">
                    <thead>
                        <tr>
                            <th>test</th>
                            <th>before (a)</th>
                            <th>after (b)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<style>
    table.details td,
    table.details th {
        padding: 4px;
    }

    td.grayed {
        opacity: 0.5;
    }

    table.slot-comparison>thead>tr>th {
        text-align: center;
        vertical-align: middle;
    }

    table.slot-comparison>tbody>tr>th {
        text-align: center;
        vertical-align: middle;
    }

</style>
<script>
    // gray out boxes without diffs
    $("#highlight-diffs").change(function () {
        if (this.checked) {
            $("td.no-change").addClass("grayed");
        }
        else {
            $("td.no-change").removeClass("grayed");
        }
    });
    // initialize state of unchanged boxes
    $(function () {
        if ($("#highlight-diffs").prop("checked")) {
            $("td.no-change").addClass("grayed");
        }
        else {
            $("td.no-change").removeClass("grayed");
        }
    });
    var tests_deltas = {{ data.diffs.tests.deltas | tojson }};
    function open_detailed_test_diff(project, platform) {
        var dialog = $("#tests-diff-details");
        $(".modal-title", dialog).text("Tests differences for " + project + " on " + platform);
        $(".modal-body table tbody", dialog).html(function () {
            var tbody = "";
            $.each(tests_deltas[project][platform], function (idx, test) {
                tbody += `<tr><th>${test.name}</th>`;
                var cols = [test.a, test.b];
                for (var i = 0; i < 2; i++) {
                    if (cols[i].state == "pass") {
                        tbody += `<td class="btn-success" onclick="window.open('${cols[i].url}', '_blank')"><b>PASS</b> <span class="glyphicon glyphicon-new-window"></span></td>`;
                    } else if (cols[i].state == "fail") {
                        tbody += `<td class="btn-danger" onclick="window.open('${cols[i].url}', '_blank')"><b>FAIL</b> <span class="glyphicon glyphicon-new-window"></td>`;
                    } else {
                        tbody += '<td>-</td>';
                    }
                }
                tbody += '</tr>';
            });
            return tbody;
        });
        dialog.modal();
    };
</script>
{% endblock %}
