<html>

<head>
    <title>Redirecting...</title>
</head>

<body>
    <p>The URL you used is obsolete.</p>
    <p>You will be redirected to {{new_url|urlize}} in a few seconds.</p>

    <script type="text/javascript">
        setTimeout(function () {
            window.location.replace("{{ new_url | safe }}");
        }, 5000)
    </script>
</body>

</html>
