.pr_flag{
    color:#42C1E8;
    font-weight: bold;
    font-size:12px;
}

.popover {
    max-width:400px;
}

.popover-content ul {
  padding-left: 14px;
}

.headerlink{
    color: inherit;
    cursor: pointer;
}

.badge_new{
    color:#666;
}

.table tr td.btn-danger a, .table tr td.btn-warning a, .table tr td.btn-info a, .table tr td.btn-success a{
    color:#FFF;
    font-weight: normal;
}

.console-cmd{
    color:#449D44;
}

pre, code {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px solid #ccc;
    /* border-radius: 4px; */
    white-space: pre-wrap;
}

pre.stdout.collapsed {
  max-height: 2rem;
  overflow-y: hidden;
  cursor: zoom-in;
}

pre.stdout {
  cursor: zoom-out;
}

.panel2 {
    background: transparent;
    border-color: transparent;
    border-radius: 0 26px 26px 0;
    box-shadow: none;
    color: #fff;
    height: 441px;
    margin-bottom: 20px;
    position: relative;
    width: auto;
}
.panel2 a {
    font-size: 15px;
    font-weight: 300;
}

div.panel-rightbody div div div{
    margin-bottom: 5px;
    margin-left: 20px;
    border-bottom: 2px #333 solid;
}
.panel2 a:hover{
    text-decoration: none;
}
.panel-rightbody i{
    font-size: 40px;
}

.panel-default > .panel-leftheading
{
    background: #006DB6;
}

.wrap404{
        background: url(/static/images/bg.jpeg) no-repeat 100%;
    background-size: 100%;
    font-family: 'open_sanslight';
    font-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.logo {
    padding: 1em;
    text-align: center;
    padding: 1% 1% 5% 1%;
}

.logo h1{
	display: block;
	padding: 2em 0em;
}
.logo span{
	font-size: 2em;
	color:#fff;
}
.logo span img{
	width:40px;
	height: 40px;
	vertical-align:bottom;
	margin: 0px 10px;
}

.panel-leftheading
{
    float: left;
    height: 100%;
    padding: 10px 15px;
    position: absolute;
    width: 42px;
    border-radius: 0 15px 15px 0;
}

.panel-lefttitle
{
    position: absolute;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(270deg);
    -o-transform-origin: left top;
    transform: rotate(270deg);
    transform-origin: left top;
}

.panel-rightbody {
    background: #d64a58 none repeat scroll 0 0;
    display: none;
    float: left;
    height: 100%;
    margin-left: 42px;
    padding: 15px;
    width: 746px;
    border-radius: 0 25px 25px 0;
}
.panel-rightbody > div {
    display: table-cell;
    vertical-align: middle;
}


#rightSlideBar {
    right: 40px;
    position: fixed;
    top: 40px;
    z-index:9999 !important;
}
#rightSlideBar .panel-lefttitle{
    bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    white-space: normal;
    width: 120px;
}
#rightSlideBar h3.panel-lefttitle {
  margin-bottom: 0px;
}
#rightSlideBar .panel-lefttitle span i.glyphicon{
    display: block;
    float: left;
    font-size: 20px;
    padding-right: 11px;
}
#rightSlideBar .panel-leftheading {
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    right: -47px;
    border-radius: 15px 0 0 15px;
    width: 49px;
}
#rightSlideBar .panel-rightbody{
    width: 505px;
    background: #DAF1FB;
    color:#000;
    position: relative;
    border-radius:10px 0 0 10px;
    border:1px solid #fff;
    border-right: none;
}
.table-striped>tbody>tr:nth-of-type(odd).alert-danger{
        background-color: #f2dede;

}

.table-striped>tbody>tr:nth-of-type(odd).alert-warning{
        background-color: #fcf8e3;
}
.table-striped>tbody>tr:nth-of-type(odd).alert-info{
        background-color: #fcf8e3;
}

.input-group-addon {
    min-width:400px;
    text-align:left;
}

.input-group-addon .litte{
    min-width:10px;
}

#rightSlideBar .panel-rightbody > div{ vertical-align : top; }
#rightSlideBar .panel2{ height:120px;}
#rightSlideBar .panel-rightbody h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left
}
#rightSlideBar .panel-rightbody p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    max-width: 264px;
    text-align: left;
}
#rightSlideBar:hover .panel-rightbody {
    display: table;
}
#rightSlideBar:hover .panel-leftheading {
    background:#DAF1FB;
    color:#000;
}

#botcell {
    bottom: 17px;
    left: 74px;
    position: absolute;
}
#rightSlideBar:hover .panel-leftheading{
    border-radius: 1px 1px 1px 1px;
    opacity: 1;
}
#rightSlideBar:hover .panel-leftheading{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.jumbotron{
	background:
		  linear-gradient(
		      rgba(255, 255, 255, 0.9),
		      rgba(255, 255, 255, 0.9)
		    ),
		 url(/static/images/bg_body.jpg) 100% -50px no-repeat;
	padding:0px;
}

.container{
	width:98%;
	background: rgba(255, 255, 255, 0.9),

}

samp {
    white-space: pre-wrap;
}

.navbar-default {
  background-color: #edf7fb;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #0b74b9;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0b74b9;
}
.navbar-default .navbar-toggle {
  border-color: #0b74b9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0b74b9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;

  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0b74b9;
  }

  #banner{
    display: none;
  }
  .button_filters{
    display: none;
  }
  .table thead tr:first-child th h4{
    display: block;
  }
  .table thead tr:first-child th h4 span.slot_description{
    display: list-item;
    list-style: none;
  }
   .table thead tr:first-child th h4 span.with-margins{
    float:none !important;
    padding-top: 10px;
    padding-right:500px;
  }
  .table thead tr:first-child th h4 span.with-margins div.btn-group{
    display: list-item;
    list-style: none;
  }
}

.table thead tr:first-child th{
    text-align: left;
    background-color: #EEE;
}

.table > tbody > tr > td.flags_class {
    width: 200px;
    border-right-width: 0px;
}

.table > tbody > tr > td.rflags_class {
    border-left-width: 0px;

}

img.icon {
  width: 22px;
  height: 22px;
}

.table tbody tr td a img, .table thead tr th a img{
    vertical-align: middle;
    margin-left: 5px;
}

.table, .table thead tr th{
    text-align: center;
}

.hover_class{ background: #FCF; }

.table tr td a{
    font-weight: bold;
}

.table tr.disabled td a{
    color: #BBB;
}

td.disabled{
  background-color: #DDD;
  color: #BBB;
}

.table-striped > tbody > tr:nth-of-type(2n+1):target {
  background-color: #DDD;
}

.table.slot-summary > tbody > tr > td {
  padding: 2px;
  border-width: 2px;
  vertical-align: middle;
}

.table.slot-summary > tbody > tr > td[onclick]  {
  cursor: pointer;
}

/* --- stylre for aborted slot --- */
.table-striped > tbody > tr.aborted {
  background-color: #eee;
}
.table-striped > thead > tr.aborted {
  background-color: #eee;
}
td.aborted {
  opacity: 0.7;
}
/* th.aborted a.slot-title::before {
  content: "(aborted) ";
} */
th.aborted a.slot-title {
  text-decoration: line-through;
}

table.log > tbody > tr > td {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}
table.log > tbody > tr > th[scope=row] {
  padding: 1px;
  padding-right: 1ex;
  vertical-align: top;
  text-align: right;
}

/* this is needed for legacy build logs, as they carry precomputen html */
#full-log .table > tbody > tr > td {
  padding: 1px;
  padding-right: 1ex;
  vertical-align: top;
  text-align: left;
}

.table > thead > tr > th .deployment_flag{
    margin-left: 1px;
    font-weight: bold;
    font-size: 15px;
}
.table > thead > tr > th .deployment_flag_head{
    margin-left: 1px;
    font-size: 15px;
}

span.annotation {
  font-size: x-small;
  font-weight: lighter;
}

a[target=_blank]::after {
  font-family: 'Glyphicons Halflings';
  font-size: x-small;
  font-style: normal;
  display: inline-block;
  text-align: right;
  width: 1.5rem;
  content: "\e164";
}

.table.environment > tbody > tr {
  text-align: left;
}
.table.environment > tbody > tr > th {
  padding: 1px;
  padding-right: 1ex;
}
.table.environment > tbody > tr > td {
  padding: 1px;
}

.path-fragment {
  /* border-style: solid; */
  border-color: transparent;
  padding-top: 3px;
  padding-bottom: 1px;
}
.path-fragment:hover {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nav-tabs-fixed-top{
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color:#FFF;
  padding-top: 10px;
}

.nav-tabs-fixed-top{
  top: 0;
  z-index: 100;
  position: fixed;
  background-color:#FFF;
  padding-top: 10px;
}

.nav-tabs-fixed-top2{
  top: 0;
  z-index: 99;
  position: fixed;
  width:98%;

}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

.aligned-left{
  text-align: left;
}

.left_column{
  width:150px;
  margin-right: 20px;
}

.aligned-left tr td .limited{
  max-height:100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aligned-left tr td .full{
  max-height:100%;
  text-overflow: none;
}


.datepicker{z-index:1151 !important;}

/* .xterm-style-0 {} */
.xterm-style-1 {font-weight: bold}
.xterm-style-4 {text-decoration: underline}
.xterm-style-5 {font-weight: blink}
/* .xterm-style-7 {} /* reverse */
.xterm-color-0 {color: black;}
.xterm-color-1 {color: red;}
.xterm-color-2 {color: green;}
.xterm-color-3 {color: yellow;}
.xterm-color-4 {color: blue;}
.xterm-color-5 {color: magenta;}
.xterm-color-6 {color: cyan;}
.xterm-color-7 {color: white;}
/* .xterm-bgcolor-0 {background-color: black;} */
.xterm-bgcolor-1 {background-color: red;}
.xterm-bgcolor-2 {background-color: green;}
.xterm-bgcolor-3 {background-color: yellow;}
.xterm-bgcolor-4 {background-color: blue;}
.xterm-bgcolor-5 {background-color: magenta;}
.xterm-bgcolor-6 {background-color: cyan;}
.xterm-bgcolor-7 {background-color: white;}

.stderr {background-color: PapayaWhip; font-style: italic;}
.stderr .even {font-family: monospace; white-space: pre-wrap;
               border-color: Bisque;
               background-color: Bisque;}
.stderr .odd {font-family: monospace; white-space: pre-wrap;
              border-color: PapayaWhip;
              background-color: PapayaWhip;}
.stderr :target {border-color: red;}

.flot-chart {
    display: block;
    height: 200px;
    width: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}
.legendLabel{
  font-size:12px;
  margin:2px;
}

.comparator-selector{
  background-color: #eee;
  width: 100%;
  margin-bottom: 20px;
}
.tests_cell{
  font-size: 20px;
  cursor: pointer;
}
.with-margins{
  margin-top:-6px;
  margin-right: 3px;
}

.table-white{
  background-color: #FFF;
  margin-bottom: 0px;
}

.table thead tr th span.slot_description{
  max-width: 70%;
  font-size: 14px;
}

.errors_first, .errors, .warning_first, .warning{
  cursor: pointer;
}

.checkbox + .checkbox, .radio + .radio{
  margin-top: 10px;
}

.supsub, .supsub2 {
    display: inline-block;
}

.supsub sup,
.supsub sub,
.supsub2 sup,
.supsub2 sub {
    position: relative;
    display: block;
    /* font-size: .5em; */
    line-height: 1.2;
    color: #a94442;
}

.supsub sub {
    top: .3em;
    color:#3c763d;
}

.supsub2 sub {
    top: .3em;
    color:#8a6d3b;
}

a.back-to-top {
  display: none;
  width: 60px;
  border: 0px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #006DB6 url("/static/images/up-arrow.png") no-repeat center 43%;
  border-radius: 30px;
}

.progress.load-progress {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  height: 1pt;
  margin-bottom: 0;
}

/* ---- Table for test results data ---- */

.tests-results .data table > tbody > tr > th {
  padding: 2px;
  vertical-align: top;
  text-align: left;
}

.tests-results .data table > tbody > tr > td {
  padding: 2px;
  vertical-align: top;
  text-align: left;
}

.tests-results .data table > tbody > tr > td > .big {
  max-height: 10rem;
  overflow-y: hidden;
  cursor: zoom-in;
}

.tests-results .data table > tbody > tr > td > .big.full {
  max-height: initial;
  cursor: zoom-out;
}

.tests-results .data table > tbody > tr > td > .big + div {
  cursor: pointer;
}

.tests-results .data table > tbody > tr > td > .big.full + div {
  display: none;
}

.tests-results .data table > tbody > tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tests-results .data table {
  background-color: white;
  color: black;
}

li.collapsed > span > .collapse-icon::before {
  content: "\002b";
}

li > span > .collapse-icon::before {
  content: "\2212";
}

li.leaf.collapsed > span > .collapse-icon::before {
  content: "\e080";
}

li.leaf > span > .collapse-icon::before {
  content: "\e114";
}

li.collapsed > ul {
  display: none;
}

li.collapsed > table {
  display: none;
}

/* Style options for datepicker tool */
#datepicker {
  position: absolute;
  background-color: white;
}
#datepicker-panel #datepicker {
  display: none;
  z-index: 1000; /* make sure this is on top of everything, otherwise it gets hidden by button groups */
}
#datepicker-panel:hover #datepicker {
  display: inherit;
}
